<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Copyright 2018" content="Website has been developed in by Sergey Germanov 2018">
  <meta name="Katya Perrott" content="owner of the site">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Katya Perrott - Personal Trainer">
  <meta name="author" content="Sergey Germanov">
  <meta name="robots" content="index">

  <!-- Adding icon to tab -->
  <link rel="icon" href="img/icon.png">

  <title>Katya Perrott - Personal Trainer</title>

  <!-- OG protocol to create links with graphics -->

  <meta property="og:title" content="Katya Perrott">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.katyaperrott.com/">
  <meta property="og:image" content="http://www.katyaperrott.com/img/about_img1.jpg">
  <meta property="og:image:secure_url" content="https://secure.katyaperrott.com/img/about_img1.jpg" />
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="302">
  <meta property="og:image:height" content="201">
  <meta property="og:image:alt" content="Katya Perrott">
  <meta property="og:description" content="Fitness has been a part of my life for the past 6 years. It started off as a hobby but as my interest in fitness grew, so did my passion for it and before I realised it, I got qualified as a PT and made my dream job a reality.">


  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <style>
    body {
      background-color: rgb(235, 255, 251)
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="img-fluid" src="img/logo.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li> -->
          
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/bootcamps">Bootcamps</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="/fitnessWeekends">{{{__ "fitnessWeekends"}}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/onlinetraining">{{{__ "onlineTraining"}}}</a>
          </li>
          {{!--
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="/contact">{{{__ "contact"}}}</a>
          </li>
          <li class="nav-item">
            <div class="btn-group btn-group">
              <a href="/en"><img src="img/english.png" height="30"></a>
              <a href="/ru"><img src="img/ru.png" height="30"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/{{bgPicture}}.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {{#if extraInfoHeading}}
          <div class="post-heading text-right">
            <h2>{{heading}}</h2>
            <h2 class="subheading" style="color:black">{{subheading}}</h2>
            <span class="meta">{{posted}}
              <a href="#">{{link}}</a>
              {{date}}</span>
          </div>
          {{else}}
          <div class="page-heading text-right">
            <h2>{{heading}}</h2>
            <span class="subheading" style="color:black">{{subheading}}</span>
          </div>
          {{/if}}

        </div>
      </div>
    </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    {{{body}}}
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto text-justify">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/katyaperrott/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/epodina">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {{!--
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> --}}
          </ul>
          <p class="copyright text-muted">Copyright &copy; "Katya Perrott" by <a href="mailto:serge.german.nz@gmail.com">Sergey
              Germanov
            </a>, 2018</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

</body>

</html>